{% extends 'base.html' %}

{% block myapps %}

{% if apps.type == 'seeker' %}
<div class="heading">
    <h2>My Job applications</h2>
</div>
{% endif %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">Company Name</th>
        <th scope="col">Company information</th>
        <th scope="col">Job Title</th>
        <th scope="col">Applied useremail</th>

      </tr>
    </thead>
    <tbody>
      {% for each in apps.applied %}
        <tr>
          <td>{{each.company}}</td>
          <td>{{each.companyinfo}}</td>
          <td>{{each.jobtitle}}</td>
          <td>{{each.useremail}}</td>
        </tr>
      {% endfor %}

    </tbody>
  </table>

{% endblock myapps %}